/* INICIO GENERALES */
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Smokum&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    line-height: normal;
}
p, ul{
    margin: 0;
    padding: 0;
}
.body-index{
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    position:relative;
    padding-bottom: calc(217px + 1.5em);
    min-height: 100vh;
}
header, section a, footer, footer ul{
    text-decoration: none;
    list-style: none;
}
/* FIN GENERALES */
/* HEADER */
.barra-superior{
    background-color: black;
    text-align: center;
    padding: 8px 0;
}
.texto-barra-superior{
    min-height: 20px;
    display: inline;
    word-spacing: 0.5em;
    margin: 0 30px;
    font-weight: 400;
    font-family: 'Open Sans';
    color: white;
}
.span-logo{
    background-color: rgb(255, 255, 255);
    width: 100%;
    justify-content: center;
    display: flex;
}
.logo-top{
    margin: 20px;
    width: 280px;
}
.logo-top-index{
    animation-name: logo-in;
    animation-duration: 2s;
    animation-iteration-count: ease-in;
}
@keyframes logo-in {
    0%{
        opacity: 0%;
    }
}
    /* BARRA NAVEGACIÓN */
nav ul{
    margin: 0 auto;
}

.color-propio{
    background-color: #ff98c4;
    color: black;
}
.color-submenu{
    background-color: #ffc8e1;
}
.submenu{
    border-radius: 0px;
    animation-name: deploysubmenu;
    animation-duration: 0.18s;
}
@keyframes deploysubmenu {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
    /* BANNER */
    /* FIN BANNER */
/* FIN HEADER */
/* categorias INICIO */
.section-index{
    max-width: 80vw;
    margin: auto;
}
.titulo-tienda-index{
    font-size: calc(100% * 1.3);
    font-family: 'Asap Condensed', sans-serif;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.grid-categorias{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.categoria img{
    width: 100%;
    border-radius: 12px;
    transition: opacity 0.2s;
}
.categoria img:hover{
    opacity: 85%;
}
.titulo-categoria{
    font-family: 'Asap Condensed', sans-serif;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: calc(1rem + .3vw);
}
.titulo-categoria:hover{
    text-decoration: underline;

}
.contenedor-boton-ver-mas{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.color-boton-ver-mas{
    background-color: #c400f5;
    font-weight: 500;
    color: white;
}
.color-boton-ver-mas:focus{
    background-color: #db8fee;
}
/* FIN categorias INICIO */
/* PRODUCTOS.HTML */
.main-productos{
    display: grid;
    margin: 50px auto;
    padding-bottom: 50px;
    max-width: 80vw;
}
.grid-buscador{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 30px;
}
.titulo-tienda-productos{
    width: 100%;
    font-size: calc(100% * 1.3);
    font-family: 'Asap Condensed', sans-serif;
    text-align: center;
}
.buscador{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* productos --- */
.grid-contenedor-productos{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}
.producto img{
    border-radius: 12px;
}
.color-boton-busqueda{
    color: #932e4e;
    border-color: #f373aa;
}
.color-boton-busqueda:focus{
    background-color: #d9548e;
}
.titulo-producto{
    margin-top: 5px;
    font-family: 'Asap Condensed', sans-serif;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: calc(1rem + .3vw);
}
.titulo-producto:hover{
    text-decoration: underline;
}
/* FIN PRODUCTOS.HTML */
/* TU PAQUETE */
.contenedor-info-paquete{
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    margin: 0 100px;
}
.article-info-paquete a{
    word-break: break-all;
}
.article-info-paquete{
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
    line-height: calc(100% * 1.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.article-info-paquete h1{
    margin: 20px;
    font-weight: 200;
}
.grid-contacto{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 90px;
    margin: 50px auto;
    justify-content: center;
}
.grid-contacto img{
    height: 100%;
}
.grid-contacto ul{
    list-style: none;
}
/* FIN TU PAQUETE */
/* INICIAR SESIÓN */
.iniciar-sesion{
    text-align: center;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 500px));
    justify-content: center;
    margin: 50px 20px;
    gap: 10px;
}
/* FIN INICIAR SESIÓN */
/*      FORM CONTACTO   */
.main-contacto{
    margin: 50px auto;
    width: 500px;
}
.boton-enviar-contacto{
    display: flex;
    justify-content: center;
}
/*      FOOTER          */
footer{
    background-color: #d9548e;
    position: absolute;
    bottom:0;
    width: 100%;
}
.grid-padre-footer{
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows:auto;
    width: 100%;
}
/* data fiscal y contacto */
.grid-hijo-footer-left{
    height: 175px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.grid-hijo-footer-left img{
    height: 100%;
    padding: 10px;
}
.grid-hijo-footer-right h5{
    margin-top: 0.5rem;
}
.grid-hijo-footer-right{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 0.5rem;
    padding-left: 20px;
}
/* creditos */
.grid-hijo-footer-credits{
    grid-column: span 2;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(18, 18, 18);
    padding: 10px;
    color:blanchedalmond;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
@media screen and (max-width: 1025px) {
    body{
        padding-bottom: calc(260px + 1em);
    }
    .grid-hijo-footer-credits{
        text-align: center;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        line-height: calc(100% * 3);
    }
}
@media screen and (max-width: 768px) {
    body{
        padding-bottom: calc(500px + 1em);
    }
    .contenedor-info-paquete{
        margin: 30px 40px;
    }
    .article-info-paquete{
        font-size: 1.5em;
    }
    .grid-padre-footer{
        grid-template-columns: repeat(1, 100%);
        grid-template-areas: 
        "contacto"
        "data-fiscal"
        "creditos"
        ;
    }
    .grid-hijo-footer-left{
        grid-area: data-fiscal;
        justify-content: center;
        padding: 0;
    }
    .grid-hijo-footer-right{
        grid-area: contacto;
        text-align: center;
        padding: 0;
    }
    .grid-hijo-footer-credits{
        grid-area: creditos;
    }
}
@media screen and (max-width: 460px) {

}
@media screen and (max-width: 426px) {
    .main-productos{
        max-width: 70vw;
    }
}