/* INICIO GENERALES */
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Smokum&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.body-index{
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    position:relative;
    padding-bottom: 212px;
}
header, .contenedor-boton-ver-mas a, section a, footer, footer ul{
    text-decoration: none;
    list-style: none;
}
/* FIN GENERALES */
/* HEADER */
.barra-superior{
    background-color: black;
    text-align: center;
    padding: 8px 0;
}
.texto-barra-superior{
    display: inline;
    word-spacing: 0.5em;
    margin: 0 30px;
    font-weight: 400;
    font-family: 'Open Sans';
    color: white;
}
.span-logo{
    background-color: rgb(255, 255, 255);
    width: 100%;
    justify-content: center;
    display: flex;
}
.logo-top{
    margin: 20px;
    width: 280px;
    animation-name: logoin;
    animation-duration: 3s;
    animation-iteration-count: ease-in;
}
@keyframes logoin {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
    /* BARRA NAVEGACIÓN */
nav, nav ul{
    background-color: rgb(255, 167, 218);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;
}
.nav-index{
    animation-name: barra-nav;
    animation-duration: 1.2s;
    animation-iteration-count: ease-in;
}
@keyframes barra-nav {
    0%{
        height: 0;
    }
    100%{
        height: 47.72px;
    }
}
li.menu-item{
    display: inline-block;
    padding: 13px 15px 13px 15px;
    color:black;
    font-weight: 400;
    font-family: 'Open Sans';
    transition: background-color 0.1s;
}
li.menu-item:hover{
    color: rgb(119, 31, 202);
    background-color: rgb(255, 206, 235);
    transition: 0.3s;
}
    /* FIN BARRA NAVEGACIÓN */
    /* BANNER */
.banner1{
    width: 100%;
    border-bottom: 3px solid rgb(255, 167, 218);
}
    /* FIN BANNER */
/* FIN HEADER */
/* categorias INICIO */
.section-index{
    margin: 0 20px;
}
.titulo-tienda{
    font-size: calc(100% * 1.3);
    font-family: 'Asap Condensed', sans-serif;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contenedor-categorias{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: -40px;
}
.categoria{
    margin-left: 40px;
    margin-top: 20px;
}
.contenedor-categoria-interno img{
    border-radius: 12px;
    transition: opacity 0.2s;
}
.contenedor-categoria-interno img:hover{
    opacity: 85%;
}
.titulo-categoria{
    font-family: 'Asap Condensed', sans-serif;
    text-align: center;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.titulo-categoria:hover{
    text-decoration: underline;

}
.contenedor-boton-ver-mas{
    font-family: 'Open Sans';
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.boton-ver-mas{
    margin: 0;
    text-align: center;
    font-size: 1.2em;
    padding: 10px 20px;
    width: 100%;
    background-color:rgb(187, 50, 255);
    color:white;
    font-weight: 600;
}
.boton-ver-mas:hover{
    background-color: rgb(243, 176, 255);
    color: black;
}
/* FIN categorias INICIO */
/* PRODUCTOS.HTML */
.buscador{
    margin: 40px 10% 10px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.titulo-tienda-productos{
    font-family: 'Asap Condensed', sans-serif;
    height: 50px;
    animation-name: zoomin;
    animation-duration: 1s;
    animation-iteration-count: ease-in;
}
.filtros{
    height: 50px;
    animation-name: zoomin;
    animation-duration: 1s;
    animation-iteration-count: ease-in;
}
@keyframes zoomin {
    0%{
        font-size: calc(100% * 0.6);
    }
}
.section-productos{
    padding-bottom: 50px;
    margin-left: -40px;
}
.flexbox-contenedor-productos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.producto{
    margin-left: 40px;
    margin-top: 40px;
}
.contenedor-producto-interno{
    transition: transform 0.2s;
    animation-name: producto;
    animation-duration: 1s;
    animation-iteration-count: ease-in;
}
@keyframes producto {
    0%{
        opacity: 0;
    }
}
.contenedor-producto-interno:hover{
    transform: scale(1.05);
}
.contenedor-producto-interno img{
    height: 320px;
    width: 320px;
    border-radius: 12px;
}
.titulo-producto{
    font-family: 'Asap Condensed', sans-serif;
    color: black;
    text-decoration: none;
    text-align: center;
}
.titulo-producto:hover{
    text-decoration: underline;
}
/* FIN PRODUCTOS.HTML */
/* TU PAQUETE */
.contenedor-info-paquete{
    font-family: 'Open Sans', sans-serif;
    margin: 30px auto 30px auto;
    padding: 0 60px 20px 60px;
    width: 60%;
}
.article-info-paquete a{
    word-break: break-all;
}
.article-info-paquete{
    text-align: center;
    font-weight: 400;
    line-height: calc(100% * 1.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.article-info-paquete h1{
    margin: 20px;
    font-weight: 200;
}
.contenedor-contacto-paquete{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding-top: 40px;
}
.contenedor-contacto-paquete img{
    height: 82px;
    margin-right: 10px;
}
.contenedor-contacto-paquete ul{
    list-style: none;
}
/* FIN TU PAQUETE */
/* INICIAR SESIÓN */
.iniciar-sesion{
    border: 2px solid rgb(79, 79, 79);
    border-radius: 20px;
    background-color: white;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 400px);
    width: 500px;
    margin: 100px auto;
    padding: 20px;
    gap: 10px 0px;
}
.iniciar-sesion input{
    padding: 5px 5px;
    width: 100%;
    border-radius: 10px;
    
}
/* FIN INICIAR SESIÓN */
/*      FORM CONTACTO   */
.contacto{
    display: inline-block;
    margin: 3em 0 3em 0;
}
form.contacto{
    padding-left: 25%;
}
/*      FOOTER          */
footer{
    background-color: #d9548e;
    position: absolute;
    bottom:0;
    width: 100%;
}
.grid-padre-footer{
    display: grid;
    font-family: 'Open Sans', sans-serif;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2);
    grid-template-areas: 
    "grid-hijo-footer-left grid-hijo-footer-right"
    "grid-hijo-footer-credits grid-hijo-footer-credits"
    ;
}
.grid-hijo-footer-left{
    grid-area: grid-hijo-footer-left;
    padding: 20px 0 20px 50px;
}
.grid-hijo-footer-right{
    grid-area: grid-hijo-footer-right;
    padding: 20px 50px 20px 0;
}
.grid-hijo-footer-credits{
    grid-area: grid-hijo-footer-credits;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(18, 18, 18);
    padding: 10px;
    color:blanchedalmond;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
@media screen and (max-width: 1000px) {
    body{
        padding-bottom: 287px;
    }
    .boton-ver-mas{
        font-size: 1.8em;
    }
    .grid-hijo-footer-credits{
        font-size: 1.2em;
        text-align: center;
        height: 100%;
        display: flex;
        flex-flow: column;
        line-height: calc(100% * 2);
    }
}
@media screen and (max-width: 768px) {
    .texto-barra-superior{
        font-size: 1.5em;
    }
    .logo-top{
        width: 400px;
    }

    .contenedor-producto-interno img{
        width: 290px;
        height: 290px;
    }
}
