/* INICIO GENERALES */
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Smokum&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
p{
    margin: 0;
}
.body-index{
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    position:relative;
    padding-bottom: 270px;
}
header, section a, footer, footer ul{
    text-decoration: none;
    list-style: none;
}
/* FIN GENERALES */
/* HEADER */
.barra-superior{
    background-color: black;
    text-align: center;
    padding: 8px 0;
}
.texto-barra-superior{
    font-size: calc(0.5rem + .5vw);
    min-height: 20px;
    display: inline;
    word-spacing: 0.5em;
    margin: 0 30px;
    font-weight: 400;
    font-family: 'Open Sans';
    color: white;
}
.span-logo{
    background-color: rgb(255, 255, 255);
    width: 100%;
    justify-content: center;
    display: flex;
}
.logo-top{
    margin: 20px;
    width: 280px;
}
.logo-top-index{
    animation-name: logo-in;
    animation-duration: 2s;
    animation-iteration-count: ease-in;
}
@keyframes logo-in {
    0%{
        opacity: 0%;
    }
}
    /* BARRA NAVEGACIÓN */
nav ul{
    margin: 0 auto;
}
.color-propio{
    background-color: #ff98c4;
    color: black;
}
.color-submenu{
    background-color: #f4aecd;
}
    /* BANNER */
.banner1{
    width: 100%;
    border-bottom: 3px solid rgb(255, 167, 218);
}
    /* FIN BANNER */
/* FIN HEADER */
/* categorias INICIO */
.section-index{
    margin: 0 20px;
}
.titulo-tienda{
    font-size: calc(100% * 1.3);
    font-family: 'Asap Condensed', sans-serif;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contenedor-categorias{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: -40px;
}
.categoria{
    margin-left: 40px;
    margin-top: 20px;
}
.contenedor-categoria-interno img{
    border-radius: 12px;
    transition: opacity 0.2s;
}
.contenedor-categoria-interno img:hover{
    opacity: 85%;
}
.titulo-categoria{
    font-family: 'Asap Condensed', sans-serif;
    text-align: center;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.titulo-categoria:hover{
    text-decoration: underline;

}
.contenedor-boton-ver-mas{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.color-boton-ver-mas{
    background-color: #c400f5;
    font-weight: 500;
    color: white;
}
.color-boton-ver-mas:focus{
    background-color: #db8fee;
}
/* FIN categorias INICIO */
/* PRODUCTOS.HTML */
.main-productos{
    margin: 0 20px;
}
.buscador{
    margin: 40px 10% 10px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.color-boton-busqueda{
    color: #d9548e;
    border-color: #f373aa;
}
.color-boton-busqueda:focus{
    background-color: #d9548e;
}
.titulo-tienda-productos{
    font-family: 'Asap Condensed', sans-serif;
    height: 50px;
    animation-name: zoomin;
    animation-duration: 1s;
    animation-iteration-count: ease-in;
}
.filtros{
    height: 50px;
}
.section-productos{
    padding-bottom: 50px;
    margin-left: -40px;
}
.flexbox-contenedor-productos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.producto{
    margin-left: 40px;
    margin-top: 40px;
}
.contenedor-producto-interno{
    transition: transform 0.2s;
}
.contenedor-producto-interno:hover{
    transform: scale(1.05);
}
.contenedor-producto-interno img{
    max-width: 320px;
    border-radius: 12px;
}
.titulo-producto{
    font-family: 'Asap Condensed', sans-serif;
    color: black;
    text-decoration: none;
    text-align: center;
    max-width: 320px;
}
.titulo-producto:hover{
    text-decoration: underline;
}
/* FIN PRODUCTOS.HTML */
/* TU PAQUETE */
.contenedor-info-paquete{
    font-family: 'Open Sans', sans-serif;
    margin: 30px auto 30px auto;
    padding: 0 60px 20px 60px;
    width: 60%;
}
.article-info-paquete a{
    word-break: break-all;
}
.article-info-paquete{
    text-align: center;
    font-weight: 400;
    line-height: calc(100% * 1.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.article-info-paquete h1{
    margin: 20px;
    font-weight: 200;
}
.contenedor-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding-top: 40px;
}
.contenedor-contacto img{
    height: 82px;
    margin-right: 10px;
}
.contenedor-contacto ul{
    list-style: none;
}
/* FIN TU PAQUETE */
/* INICIAR SESIÓN */
.iniciar-sesion{
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    gap: 10px 0px;
}
.iniciar-sesion h2{
    text-align: center;
}
/* FIN INICIAR SESIÓN */
/*      FORM CONTACTO   */
.main-contacto{
    margin: 50px auto;
    width: 500px;
}
.boton-enviar-contacto{
    display: flex;
    justify-content: center;
}
/*      FOOTER          */
footer{
    background-color: #d9548e;
    position: absolute;
    bottom:0;
    width: 100%;
}
.grid-padre-footer{
    display: grid;
    font-family: 'Open Sans', sans-serif;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2);
    grid-template-areas: 
    "grid-hijo-footer-left grid-hijo-footer-right"
    "grid-hijo-footer-credits grid-hijo-footer-credits"
    ;
}
.grid-hijo-footer-left{
    grid-area: grid-hijo-footer-left;
    padding: 20px 0 20px 50px;
}
.grid-hijo-footer-right{
    grid-area: grid-hijo-footer-right;
    padding: 20px 50px 20px 0;
}
.grid-hijo-footer-credits{
    grid-area: grid-hijo-footer-credits;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(18, 18, 18);
    padding: 10px;
    color:blanchedalmond;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
@media screen and (max-width: 1141px) {
    .contenedor-producto-interno img{
        max-width: 270px;
    }
    .titulo-producto{
        max-width: 270px;
    }
}
@media screen and (max-width: 1025px) {
    body{
        padding-bottom: 360px;
    }
    .grid-hijo-footer-credits{
        font-size: 1.2em;
        text-align: center;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        line-height: calc(100% * 2);
    }
    .contenedor-boton-ver-mas button{
        font-size: 1.5em;
    }
}
@media screen and (max-width: 768px) {
    .logo-top{
        width: 400px;
    }
}
@media screen and (max-width: 426px) {
    .buscador{
    margin: 40px 0px 40px 0px;
    }
    .logo-top{
        width: 350px;
    }
}
@media screen and (max-width: 376px) {
    .logo-top{
        width: 300px;
    }
}